html, body {
    height: 100%;
}
.panel {
    background-color : rgba(255,255,255,0);
}

body {
    background-color: #323C3D;
    color: #b9b9b9;


}

.content {
    background-image: url("/img/green-fibers.png");
    background-repeat: repeat;
    padding-bottom: 20px;
}



.title {
    font-size: 96px;
}

.form-head{
    padding: 8px;
    margin: 10px 0;
    background-color: transparent;
    color: inherit;
    font-weight: bold;
    transition: all .5s;
}

.item, .item-header{
    padding: 0 16px;
    margin: 0 0 10px;
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.item-header{
    font-weight: bold;
}

.form-padding-top{
    padding-top: 16px;
}

.section {
    background-color: #323C3D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    background-color: #2F3535;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #4e4e4e;
    margin-bottom: 0;
    color: #b9b9b9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #72A98F;
}

.navbar-nav>li:hover, .navbar-nav>li.dropdown>.dropdown-menu, .dropdown-toggle:active, .open .dropdown-toggle, .dropdown-menu{
    background: #72A98F !important; color:#000 !important;
}

ul.dropdown-menu li a:hover {
    color: #b9b9b9;
    background-color: #404840;
}


footer {
    padding-top:20px;
    height: 150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */




}
a {
    color: #33B77B;
}

a:hover {
    color: #33B7A6;
}

/** Panel **/

.panel-default>.panel-heading {
    color: #b9b9b9;
    background-color: #495758;
    border-color: #3D4748;
}

.panel-default>.panel-footer {
    color: #333;
    background-color: #495758;
    border-color: #3D4748;
}

.panel-default {
    border-color: #3D4748;
    color: #b9b9b9;
}


/** Table **/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #3D4748;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #404840;
}